In [1]:
import pandas as pd

In [2]:
students_df = pd.read_csv(r'students.csv')
#print(students_df)

In [3]:
student_list = pd.DataFrame(students_df, columns=["Apellidos", "Nombre"])
#print(student_list)

In [6]:
student = student_list.sample(3)
print(student)

         Apellidos  Nombre
8    REYES ARRIAGA   ITZEL
24  GAVINO BARTOLO  SAYURI
11   CHACON IBANEZ    JOSE

In [ ]:
Respuesta : 60.23 N